<div id="examples_1" class="latest-requests">

  <h3>
    <%= _("Video introduction") %>
  </h3>


<iframe width="560" height="315" src="https://www.youtube.com/embed/nelZBL7ay-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
