<div class="infromini-credit">
  <h2 class="section-head"><%= _("Who is behind this?") %></h2>

  <br>

  <div>
    <a href="http://onshor.org/" target="_">
      <%= image_tag("onshor_logo.png",
                    :alt => "Onshor | Transparency & Accountability") %>
    </a>
  </div>

  <div>
    <a href="https://www.fsvc.org/" target="_">
      <%= image_tag("fsvc_logo.png",
                    :alt => "Financial Services Volunteer Corps (FSVC)") %>
    </a>
  </div>

  <div>
    <a href="http://atcp.org.tn/" target="_">
      <%= image_tag("atcp_logo.png",
                    :alt => "Association Tunisienne Des Controleurs Publics (ATCP)") %>
    </a>
  </div>
</div>
