يقتضي قانون النفاذ إلى المعلومة تقديم الطلبات كتابة. وتعترف السوابق القضائية بالبريد الإلكتروني باعتباره شكل كتابي صالح لطلب النفاذ إلى المعلومات التي تحتفظ بها الهياكل العمومية. (<a href="<%= help_page_url(:anchor => 'full_address') %>">more details</a>).

