<% @title = "غير راض عن الإجابة التي تلقيتها؟" %>


<% if @info_request %>
  <h1> تعرف على آلية التظلم لدى هيئة النفاذ للمعلومة '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>غير راض عن الإجابة التي تلقيتها؟</h1>
<% end %>

<p> إذا </p>

<ul>
  <li> لم تكن راضيا عن الرد الذي أرسله الهيكل العمومي أو إذا لم يقم الهيكل العمومي بالإستجابة خلال المهلة القانونية 20 يوما فيمكنك الإلتجاء إلى هيئة النفاذ إلى المعلومة مجانا والقيم بالتتظلم لديها بشأن طلبك. </li>
</ul>

<p> ولا تتاح هذه الإمكانية إلا </p>

<ol>
  <li> للهياكل العمومية الخاضعة لقانون النفاذ إلى المعلومة. </li>
  <li> ويجب توجيه طلب التظلم إلى الهيئة في أجل أقصاه 20 يوما من تاريخ الحصول على إجابة سلبية من الهيكل المعني أو إنقضاء الآجال. </li>
 
</ol>




<p> منصة إنفورميني لم تصمم بعد للتعامل مع اجرائات الطعون. ولهذا يجب إرسال هذه الطلبات مباشرة إلى هيئة النفاذ إلى المعلومة عن طريق البريد الإلكتروني أو عن طريق البريد. ومع ذلك، يمكنك إرسال طلب إعادة نظر إلى الهيكل العمومي عبر إنفورميني. لإجراء ذلك، انقر على الرابط "طلب إعادة النظر" أسفل صفحة التطبيق. ثم أرسل الرابط إلى طلبك على موقع إنفورميني إلى الهيئة أو قم بطباعة هذا الطلب بحيث يمكن للهيئة الوصول إلى جميع التبادلات مع الهيكل العمومي. وأخيرا، نرجو أن تمدنا بمعلومات محينة عن طلب التظلم عن طريق نشر تعليقات المتابعة في الجزء السفلي من صفحة الطلب الخاص بك. </p>


  <% end %>
  <li> إذا كان الطعن أو مطلب التظلم ذو أهمية خاصة لأشخاص آخرين و إن كان لدينا الوقت، فسيسعدنا تقديم المشورة لتحسين بلورة طلب التظلم الخاص بك عن طريق البريد الإلكتروني إلى إنفورميني. </li>
  
</ul>